@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.special_announcement, .fourth_section_notheader_button p, .fourth_section_notheader_menu_card p, .fourth_section_header p, .third_section_text_p, .second_section .ss_text p, footer .card, header .header_link a {
  font-family: Poppins;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  line-height: 120%;
}

header .header_link a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid transparent;
}
header .header_link a:hover {
  border-bottom: 2px solid #FFFFFF;
}

.first_section h1, .fourth_section_notheader_menu_card_title, .fourth_section_header h3, .third_section_text h3, .second_section .ss_text h3, .fourth_section_notheader_button h2, .first_section h2 {
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 126px;
  font-weight: bold;
}

.fourth_section_notheader_button h2, .first_section h2 {
  font-size: 54px;
  font-style: italic;
  rotate: -9deg;
  position: relative;
  top: -5%;
  right: -5%;
}

.fourth_section_notheader_menu_card_title, .fourth_section_header h3, .third_section_text h3, .second_section .ss_text h3 {
  color: #B2D234;
  font-size: 56px;
  line-height: 120%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 25px 40px;
}
header .header_link {
  display: flex;
  gap: 50px;
  justify-content: center;
}
@media screen and (max-width: 1075px) {
  header {
    flex-direction: column;
  }
  header .header_link {
    flex-wrap: wrap;
    gap: 20px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #B2D234;
  padding-block: 5%;
}
@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    gap: 30px;
  }
  footer img {
    order: 1;
  }
}
footer img {
  height: 106px;
}
footer .card {
  flex-direction: column;
  gap: 27px;
}
footer .card h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
footer .card div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
}

.header_first_section {
  background: linear-gradient(rgba(96, 160, 216, 0.62), rgba(178, 210, 52, 0.62)), url(../../assets/header_back.png);
  background-size: 2000px;
  display: flex;
  flex-direction: column;
}

.first_section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.first_section .fs_links {
  position: absolute;
  bottom: 64.5px;
  right: 60px;
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 800px) {
  .first_section h1 {
    font-size: 70px;
  }
  .first_section h2 {
    font-size: 35px;
    top: -3%;
  }
}

.second_section {
  height: 100vh;
  background-image: url(../../assets/Grille\ de\ répétition\ 1.png);
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  overflow: hidden;
  position: relative;
}
.second_section .ss_text {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: unset;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding-left: 20%;
}
.second_section .ss_text p {
  color: #606060;
  padding-right: 33%;
  text-align: left;
}
.second_section .ss_text button {
  margin-right: 60%;
}
.second_section img {
  position: absolute;
  z-index: 0;
  top: -0.5%;
  right: -12%;
  width: 65%;
}
@media screen and (max-width: 900px) {
  .second_section {
    grid-template-columns: 1fr;
    height: auto;
  }
  .second_section .ss_text {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10%;
  }
  .second_section .ss_text p {
    padding-inline: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .second_section .ss_text button {
    margin: 0;
    display: flex;
    align-self: flex-end;
    margin-right: 5%;
    background-color: #B2D234;
    color: #FFFFFF;
  }
  .second_section img {
    display: none;
  }
}

.third_section {
  background-image: url(../../assets/ismael-trevino-NDyuR4Huig8-unsplash.png);
  background-size: cover;
  height: auto;
  padding: 5% 10%;
  display: grid;
}
.third_section_text {
  background-color: rgba(178, 210, 52, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 5% 7%;
  width: 55%;
  text-align: center;
  justify-self: flex-end;
}
.third_section_text h3 {
  color: #FFFFFF;
  font-size: 52px;
}
.third_section_text_p {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-inline: 7%;
  margin-block: 3em;
}
.third_section_text_p .bold {
  font-weight: 700;
}
.third_section_text_p .underlined {
  text-decoration: underline;
}
.third_section_text_button {
  width: 50%;
}
@media screen and (max-width: 1000px) {
  .third_section {
    padding: 3%;
    height: auto;
  }
  .third_section_text {
    justify-self: center;
    width: 80%;
  }
}

.fourth_section {
  background-image: url(../../assets/pattern-1.png);
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
}
.fourth_section_header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 5%;
}
.fourth_section_header h3 {
  font-size: 52px;
  text-align: center;
  margin-bottom: 0.3em;
}
.fourth_section_header p {
  color: #606060;
}
.fourth_section_notheader {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.fourth_section_notheader_menu {
  display: grid;
  grid-template-rows: auto;
  gap: 50px;
}
.fourth_section_notheader_menu_card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
}
.fourth_section_notheader_menu_card_title {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
}
.fourth_section_notheader_menu_card p {
  color: #606060;
  text-align: left;
}
.fourth_section_notheader_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
}
.fourth_section_notheader_button h2 {
  font-size: 64px;
}
.fourth_section_notheader_button p {
  color: #606060;
  padding-inline: 17%;
}
.fourth_section_notheader_button a {
  width: 55%;
  text-align: center;
}
.fourth_section_notheader .green {
  color: #B2D234;
}
.fourth_section_notheader .blue {
  color: #60A0D8;
}
@media screen and (max-width: 1200px) {
  .fourth_section_notheader {
    grid-template-columns: 1fr;
  }
}

.special {
  border: 1px solid #B2D234;
}
.special_announcement {
  font-size: 12px;
  background-color: #B2D234;
  padding: 0.5em;
  margin-left: 80%;
}

.third_section_text_button, .second_section button, .fourth_section_notheader_button a, header button {
  background-color: #FFFFFF;
  color: #B2D234;
  border: none;
  padding: 9px 30px;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 8px 16px #616161;
  text-decoration: none;
}

.second_section button, .fourth_section_notheader_button a {
  background-color: #B2D234;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 600;
  padding: 2% 5%;
}

.third_section_text_button {
  background-color: #FFFFFF;
  color: #B2D234;
  font-size: 24px;
  font-weight: 600;
  padding: 2% 5%;
}

/*# sourceMappingURL=style.css.map */
