footer {
    @include flex(center, space-around);
    background-color: $clr-primary;
    padding-block: 5%;

    @media screen and (max-width: 1000px) {
        flex-direction: column;
        gap: 30px;
        img{
            order:1;
        }
    }

    img {
        height: 106px;
    }

    .card {
        @extend %main_text;
        flex-direction: column;
        gap:27px;

        h4 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom:15px;
        }

        div {
            @include flex(center, center);
            flex-direction: column;
            gap: 0.5em;
        }
    }
}