header {
    @include flex(center, space-between);
    position: absolute;
    top:0;
    width: 100%;
    padding: 25px 40px;

    button{
        @extend %primary_button;
    }

    .header_link {
        display: flex;
        gap:50px;
        justify-content: center;

        a{
            @extend %links;
        }
    }

    @include breakpoint(1075px, $type: 'max'){
        flex-direction: column;

        .header_link {
            flex-wrap: wrap;
            gap: 20px;
        }
    }

}