header {
    @include flex(center, space-between);
    position: absolute;
    top:0;
    width: 100%;
    padding: 25px 40px;

    @media screen and (max-width: 1000px) {
        flex-direction: column;

        .header_link {
            flex-wrap: wrap;
            // gap: 25px;
        }
    }


    button{
        @extend %primary_button;
    }

    .header_link {
        display: flex;
        gap:50px;

        a{
            @extend %links;
        }
    }

}