.second_section {
    height: 100vh;
    background-image: url(../../assets/Grille\ de\ répétition\ 1.png);
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    overflow: hidden;
    position: relative;

    button {
        @extend %secondary_button;
    }

    .ss_text {
        position: relative;
        z-index: 1;
        @include flex(unset, center);
        flex-direction: column;
        gap:40px;
        padding-left: 20%;

        h3 {
            @extend %third_title;
        }

        p {
            @extend %main_text;
            color : $clr-grey;
            padding-right: 33%;
            text-align: left;
        }

        button {
            margin-right: 60%;
        }
    }

    img {
        position: absolute;
        z-index:0;
        // top:10px;
        top : -0.5%;
        right: -12%;
        width: 65%;
    }

    @include breakpoint(900px, $type: 'max'){
        grid-template-columns: 1fr;
        height: auto;

        .ss_text {
            padding: 0;
            @include flex(center, center);
            padding-block : 10%;

            p {
                padding-inline : 5%;
                @include flex(center, center);
                text-align: left;
            }

            button {
                margin: 0;
                display: flex;
                align-self: flex-end;
                margin-right: 5%;
                background-color: $clr-primary;
                color: $clr-secondary;
            }
        }

        img {
            display:none;
        }
    }
}