.third_section{
    background-image: url(../../assets/ismael-trevino-NDyuR4Huig8-unsplash.png);
    // height: 100vh;
    background-size: cover;
    height: auto;
    padding: 5% 10%;
    display: grid;

    &_text{
        background-color: rgba($clr-primary, 0.8);
        @include flex(center, space-between);
        flex-direction: column;
        padding: 5% 7%;
        width: 55%;
        text-align: center;
        justify-self: flex-end;

        h3 {
            @extend %third_title;
            color: $clr-secondary;
            font-size: 52px;
        }

        &_p {
            @extend %main_text;
            display: flex;
            flex-direction: column;
            gap:1em;
            padding-inline: 7%;
            margin-block: 3em;

            .bold {
                font-weight: 700;
            }

            .underlined{
                text-decoration: underline;
            }
        }

        &_button {
            @extend %secondary_button_inverted;
            width: 50%;
        }
    }

    @media screen and (max-width: 1000px) {
        padding : 3%;
        height: auto;

        &_text {
            justify-self: center;
            width: 80%;
        }
    }
}