@mixin flex($align: center, $justify: center){
	display : flex ;
	align-items : $align ;
	justify-content : $justify ;
}

@mixin breakpoint($size, $type: 'min'){
    @if $type == 'min'{
        @media screen and (min-width:$size) {
            @content;
        }
    } @else {
        @media screen and (max-width:$size) { 
            @content;  
        }
    }
}