%main_text {
    font-family:Poppins;
    font-size: 18px;
    color: $clr-secondary;
    text-decoration: none;
    text-align: center;
    line-height: 120%;
}

%links {
    @extend %main_text;
    @include flex(center, center);
    border-bottom: 2px solid transparent;

    &:hover{
        border-bottom: 2px solid $clr-secondary;
    }

    //C'est le mieux que j'arrive à faire
    // &::after{
        // content:"";
        // position: absolute;
        // bottom: -8px;
        // left: 15%;
        // right: 15%;
    //     height: 2px;
    //     transform: scaleX(0);
    //     background-color: $clr-secondary;
    //     transition: transform 0.3s ease-in-out;
    // }

    // &:hover::after {
    //     transform: scaleX(1);
    // }
}

%main_title {
    color: $clr-secondary;
    font-family:Poppins;
    font-size: 126px;
    font-weight: bold;
}

%second_title {
    @extend %main_title ;
    font-size: 54px;
    font-style: italic;
    rotate: -9deg;
    position: relative;
    top:-5%;
    right : -5%;
}

%third_title {
    @extend %main_title ;
    color: $clr-primary;
    font-size: 56px;
    line-height: 120%;
}